@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
    -webkit-border-radius: 6px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #e1e1f6;
    background-image: radial-gradient(
        #000000 0.6000000000000001px,
        #e1e1f6 0.6000000000000001px
    );
    background-size: 12px 12px;
}

label{
    text-transform: capitalize;
}
.ant-btn.css-dev-only-do-not-override-sk7ap8.ant-btn-primary{
    background-color: #1677ff !important;
}